@media (max-width: 1200px) {
    .bc-img h2 {
        font-size: 30px;
    }

    .list-location .item-location {
        flex: 1 1 32%;
    }
}

/*!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 992px) {
    .housing-collapse {
        grid-gap: 10px
    }

    .housing-title {
        font-size: 25px;
    }
}

/*!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 768px) {

    main {
        padding: 20px;
    }


    .bc-img img {
        height: 100px;
    }

    .bc-img h2 {
        font-size: 24px;
    }

    header .logo img {
        width: 130px;
    }
    
    header .nav-list ul li, a {
        padding-left: 15px;
        font-size: 15px;
    }

    .housing-detail {
        flex-direction: column;
    }

    .housing-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: inherit;
        margin-bottom: 15px;
    }

    .housing-collapse {
        display: block;
    }

    .rating-content {
        align-items: center;
        display: flex;
    }



    .container-collapse {
        padding: 30px;
    }


    /* 404 */
    .container-error .error h1 {
        font-size: 100px;
    }

    .container-error .error h2 {
        font-size: 20px;
    }



}

/*!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 576px) {

    .bc-img h2 {
        left: 37%;
    }


    .list-location .item-location {
        flex: 1 1 100%;
    }


    .housing-tag span {
        font-size: 12px;
    }


    .collapse-description {
        font-size: 12px;
    }

    .arrow-left, .arrow-right {
        height: 20px;
    }

    .gallery .arrow-left {
        left: 0;
    }

    .gallery .arrow-right {
        right: 0;
    }

    .rating-content svg {
        height: 15px;
    }

    .rating-content {
        max-width: 100px;
    }

    .gallery {
        height: 255px;
    }

    .collapse {
        height: 30px;
    }

    .collapse-title {
        font-size: 13px;
    }

    .container-collapse {
        padding: 10px;
    }

    footer {
        margin-top: 100px;
    }

    footer .footer p {
        font-size: 18px;
    }
}

/*!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 350px) {
    header .logo img {
        width: 100px;
    }

    header .nav-list ul li, a {
        font-size: 12px;
        padding-left: 8px;
    }

    .bc-img {
        padding-top: 30px;
    }

    .bc-img h2 {
        left: 37%;
        font-size: 16px;
    }

    .container-grey {
        margin-top: 20px;
        padding: 5px;
    }
}